In [1]:
import json
import pandas as pd

In [2]:
# Opening JSON file 
f = open('train-v2.0.json',)

# returns JSON object as  
# a dictionary 
data = json.load(f)

In [3]:
df = pd.DataFrame.from_dict(data)

In [4]:
df.head()

  version                                               data
0    v2.0  {'title': 'Beyoncé', 'paragraphs': [{'qas': [{...
1    v2.0  {'title': 'Frédéric_Chopin', 'paragraphs': [{'...
2    v2.0  {'title': 'Sino-Tibetan_relations_during_the_M...
3    v2.0  {'title': 'IPod', 'paragraphs': [{'qas': [{'qu...
4    v2.0  {'title': 'The_Legend_of_Zelda:_Twilight_Princ...

In [5]:
df = pd.DataFrame.from_dict(df['data'])
df.head()

                                                data
0  {'title': 'Beyoncé', 'paragraphs': [{'qas': [{...
1  {'title': 'Frédéric_Chopin', 'paragraphs': [{'...
2  {'title': 'Sino-Tibetan_relations_during_the_M...
3  {'title': 'IPod', 'paragraphs': [{'qas': [{'qu...
4  {'title': 'The_Legend_of_Zelda:_Twilight_Princ...

In [6]:
contextID = 1
questionAnswerData = pd.DataFrame()
contextData = pd.DataFrame()


for topic in df['data']:
    for paras in topic["paragraphs"]:
        
        questions = pd.DataFrame(paras["qas"])
        questions["contextID"] = contextID
        merging = [questionAnswerData, questions]
        questionAnswerData = pd.concat(merging)
        
        context = pd.Series([paras["context"]],name="context")
        context = context.to_frame()
        context["contextID"] = contextID
        merging = [contextData, context]
        contextData = pd.concat(merging)
        
        contextID = contextID +1

In [21]:
questionAnswerData["plausible_answers"]

0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
                           ...
0            [{'text': 'matter', 'answer_start': 485}]
1            [{'text': 'Alfvén', 'answer_start': 327}]
2    [{'text': 'Gk. common matter', 'answer_start':...
3    [{'text': 'a specifying modifier', 'answer_sta...
4            [{'text': 'physics', 'answer_start': 37}]
Name: plausible_answers, Length: 130319, dtype: object

In [24]:
questionAnswerData

,question,id,answers,is_impossible,contextID,plausible_answers
0,When did Beyonce start becoming popular?,56be85543aeaaa14008c9063,"[{'text': 'in the late 1990s', 'answer_start':...",False,1,NaN
1,What areas did Beyonce compete in when she was...,56be85543aeaaa14008c9065,"[{'text': 'singing and dancing', 'answer_start...",False,1,NaN
2,When did Beyonce leave Destiny's Child and bec...,56be85543aeaaa14008c9066,"[{'text': '2003', 'answer_start': 526}]",False,1,NaN
3,In what city and state did Beyonce grow up?,56bf6b0f3aeaaa14008c9601,"[{'text': 'Houston, Texas', 'answer_start': 166}]",False,1,NaN
4,In which decade did Beyonce become famous?,56bf6b0f3aeaaa14008c9602,"[{'text': 'late 1990s', 'answer_start': 276}]",False,1,NaN
...,...,...,...,...,...,...
0,Physics has broadly agreed on the definition o...,5a7e070b70df9f001a875439,[],True,19035,"[{'text': 'matter', 'answer_start': 485}]"
1,Who coined the term partonic matter?,5a7e070b70df9f001a87543a,[],True,19035,"[{'text': 'Alfvén', 'answer_start': 327}]"
2,What is another name for anti-matter?,5a7e070b70df9f001a87543b,[],True,19035,"[{'text': 'Gk. common matter', 'answer_start':..."
3,Matter usually does not need to be used in con...,5a7e070b70df9f001a87543c,[],True,19035,"[{'text': 'a specifying modifier', 'answer_sta..."
4,What field of study has a variety of unusual c...,5a7e070b70df9f001a87543d,[],True,19035,"[{'text': 'physics', 'answer_start': 37}]"

In [81]:
questionAnswerData.to_excel("questionAnswerData.xlsx")
contextData.to_excel("context.xlsx")